
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

img {
    &.nav-avatar {
        margin-right: 0.2rem;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 2px solid rgba(255, 255, 255, 0.5);
        padding: 2px;
    }
}

.dropdown-item {
    svg {
        @extend .mr-1;
    }
}
.navbar {
    .navbar-brand {
        font-size: 1.6rem;
        .navbar-logo {
            width: 48px;
            height: 48px;
            margin-right: 0.4rem;
        }
    }
}

@media (max-width: #{map-get($grid-breakpoints, md)}) {
    .navbar {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-nav {
        .nav-item .nav-link {
            text-align: center;
            font-size: large;
        }
        .dropdown {
            position: static;
            text-align: center;
            .dropdown-menu {
                width: 100%;
                text-align: center;
                line-height: 2rem;
            }
        }
    }
}

.release-card {
    @extend .card;
    padding: 0.5rem !important;
    .first-row {
        @extend .row;
        @extend .no-gutters;
        .col {
            img {
                width: 56px;
                height: 56px;
            }
            p {
                line-height: 5px;
                text-align: right;
                margin-top: 0.5rem !important;
                &.downloads {
                }
                &.rating {
                    @extend .text-nowrap;
                    svg {
                        &.filled {
                            color: #ffe771;
                        }
                    }
                }
                &.subtitle {
                    line-height: 2px;
                    font-size: 10px;
                    color: $gray-700;
                    opacity: 0.7;
                }
            }
        }
    }
    .second-row {
        @extend .row;
        @extend .no-gutters;
        .col {
            padding-left: 0.5rem;
            h5 {
                &.name {
                    font-weight: bolder;
                }
            }
            p {
                line-height: 5px;
                text-align: left;
                margin-top: 0.5rem !important;
                @extend .text-nowrap;
                &.version {
                }
                &.author {
                    line-height: 2px;
                    //font-size: 10px;
                    color: $gray-700;
                    opacity: 0.7;
                }
            }
            a {
                margin: 0.5rem;
            }
        }
    }
}
